#home-nav {
  background: $orange;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  width:100%;

  &.sticky {
    position:fixed;
    top:0;
    z-index: 1;
  }

  .navbar-brand {
    padding: 10px 0;
    margin: 0;
    @include mobile {
      @include rem-fallback(padding-left, 1);
    }
  }

  .navbar-nav {
    & > li {
      & > a {
        color: $white;
        font-family: $gaspar;
        font-size: 1.65em;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        font-weight: 600;

        &:hover,
        &:focus,
        &:visited {
          text-decoration: none;
        }

        &:visited,
        &:focus {
          background: transparent;
          color: $white;
        }
        &:hover {
          background: $white;
          color: $orange;
        }
        &:active {
          background: $white;
          color: $orange;
        }
      }
    }
  }

}
